<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<title>Web Shop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IT Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href ="@{/admin}" href="#">admin Home</a>
        <a class="nav-link" th:href = "@{/logout}" href="#">logout</a>
      </div>
    </div>
  </div>
</nav>
<br>
<br>

<div class="container">

<div class = "row"> 
<div class = "col-lg-3"> 
<a th:href = "@{/admin/categories/add}" class="btn btn-primary btn-sm mb-3"> Add Category </a>

</div>
</div>



<table class = "table">
<thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Category Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr th:each = "category, iStat :${categories}"> <th scope="row" th:text="${iStat.index + 1}">1</th>
  <td th:text = "${category.name}">  </td>
  <td>  <a th:href = "@{/admin/categories/update/{id}(id=${category.id})}" 
   class ="btn btn-success"> Update </a>
  
         <a th:href = "@{/admin/categories/delete/{id}(id=${category.id})}" 
   class ="btn btn-danger"> Delete </a>
         
   </td>
  </tr>
 </tbody>
</table>
</div>




</body>
</html>